   <h1 id="name">{{crypto.name}}</h1>
   <h3 id="payment">Payment method: {{crypto.method}}</h3>
   <p id="price"><span>Price: {{crypto.price}}</span></p>
   <p id="description">{{crypto.description}}</p>